// Font
$mainFont: 'Roboto Condensed', Arial, sans-serif;

// Size
$mainFontColor: #000;
$mainFontSize: 15px;
$footerFontSize: 14px;
$mainFontWeight: 400;
$mainTitleSize: 36px;
$mainTitleWeight: 700;
$mainLineHeight: 1.5;

$desktopWidth: 1280px;
$mdDesktopWidth: 980px;
$smDesktopWidth: 760px;
$phoneWidth: 480px;
$smPhoneWidth: 320px;

// Color
$backgroundColor: #fff;
$backgroundTransparent: #ff00;

$footerTextColor: #CCCCCC;
$commentsDateColor: #999999;
$buttonColor: #4997D0;


